<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571245980921-3f56tuau72a299j0prnf2g01dbucl8qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571245980921-3f56tuau72a299j0prnf2g01dbucl8qq</string>
	<key>API_KEY</key>
	<string>AIzaSyC_u0fq2Tk3it0G2EX75-dWntTAfGnbd-A</string>
	<key>GCM_SENDER_ID</key>
	<string>571245980921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shree.vsal55555.SwiftUI-LoginScreen</string>
	<key>PROJECT_ID</key>
	<string>fir-d9589</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-d9589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571245980921:ios:85e6d7a208126e5de1c628</string>
	<key>DATABASE_URL</key>
	<string>https://fir-d9589.firebaseio.com</string>
</dict>
</plist>